In [136]:
import os
import pandas as pd
from matplotlib import pyplot as plt

In [85]:
directory = 'data/'

data_files = os.listdir(directory)
cols = ['timestamps', 'theta_absolute_1', 'theta_absolute_2', 'theta_absolute_3', 'theta_absolute_4',
            'alpha_absolute_1', 'alpha_absolute_2', 'alpha_absolute_3', 'alpha_absolute_4',
            'beta_absolute_1', 'beta_absolute_2', 'beta_absolute_3', 'beta_absolute_4',
            'blink']


def blinkPerSec(t, blinks):
    prevTime = 0
    res = {}
    for i in range(len(t)):
        tmp = t[i].split(".")
        currTime = tmp[0]
        if currTime in res and res[currTime]:
            continue
        res[currTime] = blinks[i]
        
    k = res.keys()
    k = [int(i) for i in k]
    k.sort()
    k = [str(i) for i in k]
    blin = []
    for i in k:
        blin.append(res[i])
    return blin

In [150]:
for filename in Path('data').rglob('*.csv'):
    f = filename.parts[-1]
    
    p_id = re.search(r'.*ID([0-9]+).*',f).group(1)
    task = re.search(r'^(.*)[0-9].*',f).group(1)
    df = pd.read_csv(directory + f)
    if task == 'programming':
        duration = 6
    elif task == 'break':
        duration = 2
        
    df_blink = df[[cols[0], cols[-1]]].dropna().reset_index(drop=True)
    
    df_blink = df_blink.astype({"timestamps":'int32'})
    df_blink.drop_duplicates(inplace=True)
    df_blink.reset_index(drop=True, inplace=True)
    df_blink = df_blink = df_blink.astype({"blink":'bool'})
    print(df_blink["blink"].sum())
    print(df_blink)
    
    prevTime = 0
    prevBlink = 0
    for index, row in df_blink.iterrows():
        if index == 0:
            continue
        if df_blink.iat[index,0] == df_blink.iat[index - 1,0] and df_blink.iat[index,1]:
            df_blink.iat[index,1] = True
        
    
    df_blink.drop_duplicates(inplace=True)
    df_blink.reset_index(drop=True, inplace=True)
    print(df_blink)
    
    
    df_blink['timestamps'] = pd.to_datetime(df_blink['timestamps'],unit='s')
    
    
#     for index, row in df_blink.iterrows():
#         print(row['c1'], row['c2'])

    
    break

102
     timestamps  blink
0    1573554463  False
1    1573554464  False
2    1573554465  False
3    1573554466  False
4    1573554467  False
..          ...    ...
459  1573554821   True
460  1573554822  False
461  1573554822   True
462  1573554823  False
463  1573554824  False

[464 rows x 2 columns]
     timestamps  blink
0    1573554463  False
1    1573554464  False
2    1573554465  False
3    1573554466  False
4    1573554467  False
..          ...    ...
459  1573554821   True
460  1573554822  False
461  1573554822   True
462  1573554823  False
463  1573554824  False

[464 rows x 2 columns]

In [55]:
df_theta = df[[cols[0], cols[1], cols[2], cols[3], cols[4]]].dropna().reset_index(drop=True)
df_theta['theta_median'] = df_theta.iloc[:, 1:].median(axis=1)
df_theta.head()

,timestamps,theta_absolute_1,theta_absolute_2,theta_absolute_3,theta_absolute_4,theta_median
0,1.574063e+09,0.392669,0.341194,0.575521,0.64898,0.484095
1,1.574063e+09,0.392669,0.365021,0.620934,0.64898,0.506802
2,1.574063e+09,0.392669,0.405879,0.675470,0.64898,0.527429
3,1.574063e+09,0.392669,0.405879,0.738399,0.64898,0.527429
4,1.574063e+09,0.392669,0.405879,0.811682,0.64898,0.527429

In [56]:
df_alpha = df[[cols[0], cols[5], cols[6], cols[7], cols[8]]].dropna().reset_index(drop=True)
df_alpha['alpha_median'] = df_alpha.iloc[:, 1:].median(axis=1)
df_alpha.head()

,timestamps,alpha_absolute_1,alpha_absolute_2,alpha_absolute_3,alpha_absolute_4,alpha_median
0,1.574063e+09,0.662823,0.426493,0.702633,0.323175,0.544658
1,1.574063e+09,0.662823,0.410632,0.698712,0.323175,0.536728
2,1.574063e+09,0.662823,0.384095,0.682535,0.323175,0.523459
3,1.574063e+09,0.662823,0.384095,0.661528,0.323175,0.522811
4,1.574063e+09,0.662823,0.384095,0.651961,0.323175,0.518028

In [57]:
df_beta = df[[cols[0], cols[9], cols[10], cols[11], cols[12]]].dropna().reset_index(drop=True)
df_beta['beta_median'] = df_beta.iloc[:, 1:].median(axis=1)
df_beta.head()

,timestamps,beta_absolute_1,beta_absolute_2,beta_absolute_3,beta_absolute_4,beta_median
0,1.574063e+09,0.314401,0.269253,0.094549,0.525343,0.291827
1,1.574063e+09,0.314401,0.255872,0.102544,0.525343,0.285137
2,1.574063e+09,0.314401,0.250953,0.102111,0.525343,0.282677
3,1.574063e+09,0.314401,0.250953,0.092843,0.525343,0.282677
4,1.574063e+09,0.314401,0.250953,0.075691,0.525343,0.282677

In [68]:
medians_df = pd.concat([df_beta['beta_median'], df_alpha['alpha_median'], df_theta['theta_median']], axis=1)
medians_df.head()

   beta_median  alpha_median  theta_median
0     0.291827      0.544658      0.484095
1     0.285137      0.536728      0.506802
2     0.282677      0.523459      0.527429
3     0.282677      0.522811      0.527429
4     0.282677      0.518028      0.527429

In [71]:
medians_df['task_engagement'] = medians_df['beta_median']/(medians_df['alpha_median'] + medians_df['theta_median'])
medians_df['task_difficulty'] = medians_df['theta_median']/(medians_df['alpha_median'] + medians_df['beta_median'])
medians_df.head()

   beta_median  alpha_median  theta_median  task_engagement  task_difficulty
0     0.291827      0.544658      0.484095         0.283671         0.578725
1     0.285137      0.536728      0.506802         0.273243         0.616649
2     0.282677      0.523459      0.527429         0.268989         0.654269
3     0.282677      0.522811      0.527429         0.269154         0.654795
4     0.282677      0.518028      0.527429         0.270386         0.658706

In [30]:
def get_values_per_min(df, num_minutes): 
    return int(len(df)/num_minutes)

In [59]:
start_idx = 0
end_idx = get_values_per_min(df_beta, duration)

In [81]:
from pathlib import Path
from os import rename, rmdir
import re
from zipfile import ZipFile
import pandas as pd


# Works with Luka's naming scheme
def unzip():
    for filename in Path('data').rglob('*.zip'):
        parts = filename.parts
        with ZipFile(filename, 'r') as zipObj:
            zipObj.extractall('tmp')
        name = parts[-1]
        if re.search(r'.*break.*',name):
            name = re.sub(r'([0-9]).*dition ([0-9]).*(ID[0-9][0-9]?)\.zip', r'break\1_condition\2_\3.csv',name)
        else:
            name = re.sub(r'([0-9]).*dition ([0-9]).*(ID[0-9][0-9]?)\.zip', r'programming\1_condition\2_\3.csv',name)

        for museFile in Path('tmp').rglob('*'):
            p = museFile.parts
            rename(museFile,'data/' + name)
    rmdir('tmp')
    

# Replaces the 'XxX' placeholder with condition number e.g. focus music = 1, office = 4 ...
def addConditions(filename, participant_id):
    conditionOrder = re.search(r'.*([0-9])_.*',filename)
    conditionOrder = int(conditionOrder.group(1))
    order = getMusicOrderList()[int(participant_id) - 1] # -1 ==> the ordering of lists starts with 0
    return re.sub(r'XxX',str(order[conditionOrder - 1]),filename)
    
    

# Normalizing the naming scheme of files from Kathrin
def renameKathrin():
    for filename in Path('data').rglob('*.csv'):
        name = filename.parts[-1]
        if re.search(r'P.*',name):
            name = re.sub(r'^P([0-9]{2})_([0-9])_(.*)\.csv$', r'\3\2_conditionXxX_ID\1.csv',name)
            rename(filename,'data/'+name)
            
            # Normalize the ID numbering
            participant_id = re.search(r'.*ID([0-9][0-9]?)',name)
            participant_id = participant_id.group(1)
            participant_id = int(participant_id)            
            participant_id = str(participant_id)
            newName = re.sub(r'ID[0-9]{2}',"ID"+participant_id,name)
            
            newName = addConditions(newName, participant_id) # adds condition into the naming scheme
            rename('data/'+name,'data/' + newName)
            
    
            
# P08_1_break.csv
            
            
def getMusicOrderList():
    musicOrderList = []
    musicOrder_df = pd.read_csv('music_lookup.csv',sep=';')
    musicOrder_df.dropna(axis=0, thresh=3, inplace=True) # Tresh = 3 ==> rows/cols have 2 NA
    musicOrder_df.dropna(axis=1, thresh=3, inplace=True)

    for i in range(musicOrder_df.shape[0]):
        row = musicOrder_df.iloc[i]
        row = list(row)
        musicOrderList.append([int(condition_num) for condition_num in row[1:5]]) # '1:5' because we have 4 conditions
    return musicOrderList

In [82]:
unzip()