In [1]:
import os
import pandas as pd

In [10]:
directory = 'data/'

data_files = os.listdir(directory)
cols = ['timestamps', 'theta_absolute_1', 'theta_absolute_2', 'theta_absolute_3', 'theta_absolute_4',
            'alpha_absolute_1', 'alpha_absolute_2', 'alpha_absolute_3', 'alpha_absolute_4',
            'beta_absolute_1', 'beta_absolute_2', 'beta_absolute_3', 'beta_absolute_4',
            'blink']

In [7]:
f = data_files[0]
split_name = f.split('_')
p_id = split_name[0]
task_no = split_name[1]
task = split_name[2].split('.')[0]
df = pd.read_csv(directory + f)

/Users/hri/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (97,98,99) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
if task == 'programming':
    duration = 6
elif task == 'break':
    duration = 2

In [36]:
df_blink = df[[cols[0], cols[-1]]].dropna().reset_index(drop=True)
df_blink.head()

     timestamps  blink
0  1.574063e+09    0.0
1  1.574063e+09    0.0
2  1.574063e+09    1.0
3  1.574063e+09    0.0
4  1.574063e+09    0.0

In [55]:
df_theta = df[[cols[0], cols[1], cols[2], cols[3], cols[4]]].dropna().reset_index(drop=True)
df_theta['theta_median'] = df_theta.iloc[:, 1:].median(axis=1)
df_theta.head()

,timestamps,theta_absolute_1,theta_absolute_2,theta_absolute_3,theta_absolute_4,theta_median
0,1.574063e+09,0.392669,0.341194,0.575521,0.64898,0.484095
1,1.574063e+09,0.392669,0.365021,0.620934,0.64898,0.506802
2,1.574063e+09,0.392669,0.405879,0.675470,0.64898,0.527429
3,1.574063e+09,0.392669,0.405879,0.738399,0.64898,0.527429
4,1.574063e+09,0.392669,0.405879,0.811682,0.64898,0.527429

In [56]:
df_alpha = df[[cols[0], cols[5], cols[6], cols[7], cols[8]]].dropna().reset_index(drop=True)
df_alpha['alpha_median'] = df_alpha.iloc[:, 1:].median(axis=1)
df_alpha.head()

,timestamps,alpha_absolute_1,alpha_absolute_2,alpha_absolute_3,alpha_absolute_4,alpha_median
0,1.574063e+09,0.662823,0.426493,0.702633,0.323175,0.544658
1,1.574063e+09,0.662823,0.410632,0.698712,0.323175,0.536728
2,1.574063e+09,0.662823,0.384095,0.682535,0.323175,0.523459
3,1.574063e+09,0.662823,0.384095,0.661528,0.323175,0.522811
4,1.574063e+09,0.662823,0.384095,0.651961,0.323175,0.518028

In [57]:
df_beta = df[[cols[0], cols[9], cols[10], cols[11], cols[12]]].dropna().reset_index(drop=True)
df_beta['beta_median'] = df_beta.iloc[:, 1:].median(axis=1)
df_beta.head()

,timestamps,beta_absolute_1,beta_absolute_2,beta_absolute_3,beta_absolute_4,beta_median
0,1.574063e+09,0.314401,0.269253,0.094549,0.525343,0.291827
1,1.574063e+09,0.314401,0.255872,0.102544,0.525343,0.285137
2,1.574063e+09,0.314401,0.250953,0.102111,0.525343,0.282677
3,1.574063e+09,0.314401,0.250953,0.092843,0.525343,0.282677
4,1.574063e+09,0.314401,0.250953,0.075691,0.525343,0.282677

In [68]:
medians_df = pd.concat([df_beta['beta_median'], df_alpha['alpha_median'], df_theta['theta_median']], axis=1)
medians_df.head()

   beta_median  alpha_median  theta_median
0     0.291827      0.544658      0.484095
1     0.285137      0.536728      0.506802
2     0.282677      0.523459      0.527429
3     0.282677      0.522811      0.527429
4     0.282677      0.518028      0.527429

In [71]:
medians_df['task_engagement'] = medians_df['beta_median']/(medians_df['alpha_median'] + medians_df['theta_median'])
medians_df['task_difficulty'] = medians_df['theta_median']/(medians_df['alpha_median'] + medians_df['beta_median'])
medians_df.head()

   beta_median  alpha_median  theta_median  task_engagement  task_difficulty
0     0.291827      0.544658      0.484095         0.283671         0.578725
1     0.285137      0.536728      0.506802         0.273243         0.616649
2     0.282677      0.523459      0.527429         0.268989         0.654269
3     0.282677      0.522811      0.527429         0.269154         0.654795
4     0.282677      0.518028      0.527429         0.270386         0.658706

In [30]:
def get_values_per_min(df, num_minutes): 
    return int(len(df)/num_minutes)

In [59]:
start_idx = 0
end_idx = get_values_per_min(df_beta, duration)